; Copy this file to config.ini and edit it to your needs
[default]
flask_ip = 10.76.72.10
weights = cone.pt
source = 0
size = 320
confidence_threshold = 0.3
max_detections = 1
device = 0
half_precision = False
save = False
hide_labels = False
hide_conf = False

set_camera_options = True
v4l2_width = 640
v4l2_height = 400
v4l2_format = YUYV